#actual_profile_picture {
    width: 60%;
    margin: 0 auto;
}

.grid_profile_picture {
   width: 100%;
}

.selected {
    border: yellow 3px solid;
}

.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.element-modal {
    width: 45%;
    margin: 0 auto;
}
