.pad {
  padding: 5%;
}

::-webkit-scrollbar {
  display: none;
}

#liked-track {
  padding: 0 5% 0 5%;
}

#liked-track > p {
  transform: scale(0.5);
}

#btnslot {
  margin-top: 5%;
}

.text {
  text-align: center; /* Centrer le texte horizontalement */
  margin-bottom: 10px; /* Ajouter une marge de 20 pixels autour du texte */
  font-size: 19px;
  color: #c0c0c0;
}
