.pad {
  padding: 5%;
}

::-webkit-scrollbar {
  display: none;
}

#liked-track {
  padding: 0 5% 0 5%;
}

#liked-track > p {
  transform: scale(0.5);
}

.text {
  text-align: center; /* Centrer le texte horizontalement */
  margin: 20px; /* Ajouter une marge de 20 pixels autour du texte */
  font-size : 20px
}
