<ion-header class="pad">
  <ion-title>Vos Titres</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="closeModal()">Fermer</ion-button>
  </ion-buttons>
</ion-header>
<ion-content class="pad">
  <div class="center text">
    <small>Voici les titres qui seront associé a vous pendant la partie.</small>
  </div>
  <div id="liked-track" class="ion-text-center">
    <ion-loading id="loading" content="Chargement..." [isOpen]="isLoading">
    </ion-loading>
  </div>
  <div id="btnslot" class="ion-text-center">
    <ion-button
      *ngIf="!isReady"
      (click)="setReady()"
      class="ion-justify-content-center"
      >Valider</ion-button
    >
    <ion-button
      *ngIf="!isReady"
      (click)="getPlaylist()"
      class="ion-justify-content-center"
      >Jouer d'autres titres</ion-button
    >
  </div>
</ion-content>
