<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div id="titre-party">
        <ion-title size="large">Manche : {{currentManche}}/10</ion-title>

        <!-- Condition pour afficher le bouton d'indicateur d'imposteur -->
        @if (isTarget == true) {
        <ion-button
          class="round-button text-left"
          color="primary"
          id="bouton-is-target-player"
          (click)="isTargetPlayer()"
        >
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
        }@else if (isTarget == false) {
        <ion-button
          class="round-button text-left"
          color="danger"
          id="bouton-is-target-player"
          (click)="isTargetPlayer()"
        >
          <ion-icon name="person-sharp"></ion-icon>
        </ion-button>
        }@else if (isTarget == null) {
        <ion-button
          class="round-button text-left"
          color="tertiary"
          id="bouton-is-target-player"
          (click)="isTargetPlayer()"
        >
          <ion-icon name="eye-sharp"></ion-icon>
        </ion-button>
        }

        <h2 class="text-right">{{ playerScores }} Points</h2>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content *ngIf="!guessingTimeOver"
      >Temps restant : {{ timeLeft }} secondes
    </ion-card-content>
    <!-- Conteneur pour l'image avec flou -->
    <div class="image-container">
      <ion-img
        *ngIf="hidden"
        [src]="targetTrack?.cover"
        class="musicCover"
        id="hiddenCover"
      ></ion-img>
      <ion-img
        *ngIf="!hidden"
        [src]="targetTrack?.cover"
        class="musicCover"
      ></ion-img>
    </div>

    @if (isHost && hidden ) {
    <ion-card-content *ngIf="isHost" class="detailSong">
      <ion-text id="blur">Texte flou</ion-text>
      <ion-button (click)="toggleHidden()" class="round-button right">
        <ion-icon [name]="hidden ? 'eye-sharp' : 'eye-off-sharp'"></ion-icon>
      </ion-button>
    </ion-card-content>
    }@else if (isHost && !hidden) {
    <ion-card-content *ngIf="!hidden" class="detailSong">
      <ion-text class="break-word"
        >{{targetTrack?.name}} - {{targetTrack?.artist}}</ion-text
      >
      <ion-button (click)="toggleHidden()" class="round-button right">
        <ion-icon [name]="hidden ? 'eye-sharp' : 'eye-off-sharp'"></ion-icon>
      </ion-button>
    </ion-card-content>
    }@else if (!hidden) {
    <ion-card-content *ngIf="!hidden">
      <ion-text class="break-word"
        >{{targetTrack?.name}} - {{targetTrack?.artist}}</ion-text
      >
    </ion-card-content>
    }
  </ion-card>
  <!-- Ajoutez un bouton pour démarrer le vote -->
  <ion-button
    id="bouton-vote"
    expand="block"
    *ngIf="isHost && !votingStarted"
    (click)="triggerVoting()"
  >
    <b>VOTEZ !</b>
  </ion-button>

  <!-- Affichez les noms des joueurs et le chrono seulement si votingStarted est true -->
  <div class="conteneur-membre" *ngIf="votingStarted">
    <ng-container *ngFor="let member of members">
      <ion-button
        *ngIf="member.username !== myUsername"
        class="bouton-membre"
        [color]="getColor(member)"
        (click)="guessPlayer(member)"
      >
        {{ member?.username }}
      </ion-button>
    </ng-container>
  </div>
</ion-content>