<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>party</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">party</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content *ngIf="!guessingTimeOver"
      >Temps restant : {{ timeLeft }} secondes</ion-card-content
    >
    <ion-img [src]="targetTrack?.cover"> </ion-img>
    <ion-card-content
      >{{targetTrack?.name}} {{targetTrack?.artist}}</ion-card-content
    >
  </ion-card>
  <!-- party.page.html -->
  <ion-button
    *ngFor="let member of members"
    [color]="getColor(member)"
    (click)="guessPlayer(member)"
  >
    {{ member?.username }}
  </ion-button>
</ion-content>
