.musicCover {
  border-radius: 20px;
}

.round-button {
  --border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;

  ion-icon {
    margin: 0;
  }
}

#hiddenCover {
  filter: blur(1rem);
}

.detailSong {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  ion-content {
    width: 25%;
    margin: 0 auto;
  }
}
