ion-item {
    margin-bottom: 16px; /* Ajustez la valeur selon vos besoins */
  }
  
  ion-row {
    margin-top: 16px; /* Ajustez la valeur selon vos besoins */
  }
  
  ion-button {
    border-radius: 15px; /* Vous pouvez ajuster le rayon selon vos préférences */
  }