.itemForPlayers {
  border-radius: 10px;
}

#test {
  color: #25aa54a8;
  background-color: aqua;
}

.button-container {
  text-align: center; /* Centrer le contenu horizontalement */
  margin-top: -2%;
}

.text-center {
  text-align: center;
}

.ready-status {
  background-color: #1db954; /* Vert lorsque le statut est Prêt */
}

.not-ready-status {
  background-color: #eb445a; /* Rouge lorsque le statut est Pas prêt */
}

ion-card-content {
  padding-top: 0%;
}

#error {
  //color: red;
  text-align: center;
  font-size: 20px;
  margin: 0;
}
