.itemForPlayers {
  border-radius: 10px;
}

#test {
  color: #25aa54a8;
  background-color: aqua;
}

.button-container {
  text-align: center; /* Centrer le contenu horizontalement */
  margin-top: 20px; /* Ajouter un espace au-dessus des boutons */
}

.text-center {
  text-align: center;
}

