<ion-content
  [fullscreen]="true"
  [style.display]="showHome ? 'block' : 'none'"
  id="home"
>
  <ion-header>
    <ion-toolbar>
      <img src="../../../assets/wlt2.png" alt="Spotify Logo" width="50px" />
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <div class="row">
      <div class="col-12 text-center mb-5" id="main">
        <app-user-info
          *ngIf="!isDisconnected"
          [accessToken]="accessToken"
          (userChanged)="onUserChanged($event)"
        ></app-user-info>
        <app-rand-liked-song
          *ngIf="!isDisconnected && user"
          [accessToken]="accessToken"
          [user]="user"
          (playlistChanged)="onPlaylistChanged($event)"
        ></app-rand-liked-song>
        <div *ngIf="!isDisconnected && displayButton">
          <app-create-party-button
            [accessToken]="accessToken"
          ></app-create-party-button>
          <app-join-party-button
            [accessToken]="accessToken"
          ></app-join-party-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-content
  [fullscreen]="true"
  *ngIf="isDisconnected"
  id="connexion"
  scroll-y="false"
>
  <div id="merde">
    <div class="row">
      <div class="col-12 text-center mb-5" id="main">
        <!-- Bouton de connexion -->
        <ion-button
          id="connect"
          class="btn btn-primary"
          color="primary"
          (click)="loginWithSpotify()"
        >
          Se connecter avec Spotify
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-content
  [fullscreen]="true"
  *ngIf="!isDisconnected && showLoading && !showHome"
  [style.display]="showLoading ? 'block' : 'none'"
  id="loading"
  scroll-y="false"
>
  <div id="merde">
    <div class="row">
      <div class="col-12 text-center mb-5" id="main">
        <img src="../../../assets/wlt2.png" alt="Spotify Logo" width="250px" />
        <br />
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </div>
</ion-content>
