<ion-content [fullscreen]="true">
  <div id="container">
    <div class="row">
      <div class="col-12 text-center mb-5" id="main">
        <!-- Bouton de connexion -->
        <ion-button
          *ngIf="isDisconnected"
          id="connect"
          class="btn btn-primary"
          color="primary"
          (click)="loginWithSpotify()"
        >
          Se connecter avec Spotify
        </ion-button>
        <!-- <app-test *ngIf="!isDisconnected"></app-test> -->
        <app-user-info
          *ngIf="!isDisconnected"
          [accessToken]="accessToken"
          (userChanged)="onUserChanged($event)"
        ></app-user-info>
        <app-rand-liked-song
          *ngIf="!isDisconnected && user"
          [accessToken]="accessToken"
          [user]="user"
          (playlistChanged)="onPlaylistChanged($event)"
        ></app-rand-liked-song>
        <div *ngIf="!isDisconnected && displayButton">
          <app-create-party-button></app-create-party-button>
          <app-join-party-button></app-join-party-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
