<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="row">
      <div class="col-12 text-center mb-5" id="main">
        <!-- Bouton de connexion -->
        <ion-button
          *ngIf="isDisconnected"
          id="connect"
          class="btn btn-primary"
          color="primary"
          (click)="loginWithSpotify()"
        >
          Se connecter avec Spotify
        </ion-button>
        <!-- <app-test *ngIf="!isDisconnected"></app-test> -->
        <app-user-info
          *ngIf="!isDisconnected"
          [accessToken]="accessToken"
          (userChanged)="onUserChanged($event)"
        ></app-user-info>
        <app-rand-liked-song
          *ngIf="!isDisconnected && user"
          [accessToken]="accessToken"
          [user]="user"
          (playlistChanged)="onPlaylistChanged($event)"
        ></app-rand-liked-song>
      </div>
    </div>
  </div>
</ion-content>
